---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getBlogs } from "@lib/blog";
import BlogListItem from "@components/BlogListItem.astro";
import GoogleAdsense from "@components/GoogleAdsense.astro";

const allBlogs = await getBlogs();
---

<BaseLayout title="記事一覧" description="記事一覧">
  <div class="pb-20 pt-8">
    <p>記事一覧</p>
  </div>
  <div>
    <ol class="flex flex-col gap-8">
      {
        allBlogs.map((blog, i) => (
          <>
            <BlogListItem blog={blog} />
            {(i+1) % 10 == 0 && (import.meta.env.CF_PAGES_BRANCH == "main" ?
              <GoogleAdsense adClient={import.meta.env.AD_CLIENT} adSlot={import.meta.env.AD_BOTTOM_SLOT} /> : (
              <div class="p-6 py-12 w-full bg-red-200 text-center text-gray-600">
                <span>Ad</span>
              </div>
            )
            )}
          </>
        ))
      }
    </ol>
  </div>
</BaseLayout>
