---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTags } from "@lib/blog";
import Link from "@components/Link.astro";
import { kebabCase } from "@lib/utils/kebabCase";

const tags = await getTags();
const sortedTags = Object.keys(tags).sort((a, b) => tags[b] - tags[a]);
---

<BaseLayout title="タグ一覧" description="タグ一覧" noindex={true}>
  <div class="pb-20 pt-8">
    <p>タグ一覧</p>
  </div>
  <div class="flex flex-wrap">
    {Object.keys(tags).length === 0 && "タグがありません"}
    {
      sortedTags.map((tag) => (
        <div class="mb-2 mr-5 mt-2 flex items-center gap-1">
          <Link href={`/tags/${kebabCase(tag)}`}>{tag}</Link>
          <span class="text-sm">({tags[tag]}記事)</span>
        </div>
      ))
    }
  </div>
</BaseLayout>
