---
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";

import { dateSortDesc } from '../lib/formatDate';

const allNotes = await getCollection('notes', ({ data }) => {
  return data.isPublished === true
})
allNotes.sort((a, b) => dateSortDesc(a.data.createdAt, b.data.createdAt))
---
<Layout title="Welcome to Astro.">
	<main>
    <div>
      <p>All notes</p>
      <ul>
        {allNotes.map((note) =>
          <li>
            <a href={`/notes/${note.slug}`}>{note.data.title}</a>
          </li>
        )}
      </ul>
    </div>
	</main>
</Layout>
