---
import Time from "@components/Time.astro";
import Icon from "@components/Icon.astro";
import Link from "@components/Link.astro";
import { kebabCase } from "@lib/utils/kebabCase";

type Props = {
  title: string;
  date: string;
  tags: string[];
};

const { title, date, tags } = Astro.props;
---

<div class="mb-8">
  <div class="mb-2 text-base">
    <Time date={date} />
  </div>
  <h1 class="mb-2 border-0 text-2xl dark:!border-0 xl:text-3xl">{title}</h1>
  {
    tags.length > 0 && (
      <div class="flex flex-row flex-nowrap items-center">
        <Icon name="ic:baseline-local-offer" />
        <ul class="my-0 flex list-none flex-row flex-wrap pl-0">
          {tags.map((tag, i) => {
            const delimiter = tags.length - 1 !== i ? "," : "";
            const value = (tag + delimiter).trim();
            return (
              <li class="my-0 text-base">
                <Link
                  href={`/tags/${kebabCase(value)}`}
                  className="text-gray-700 no-underline hover:!text-gray-700 dark:!text-gray-200 dark:hover:!text-gray-200"
                >
                  {value}
                </Link>
              </li>
            );
          })}
        </ul>
      </div>
    )
  }
</div>
