---
import clsx from 'clsx'

export type ADClient = `ca-pub-${string}`;

type Props = {
  adClient: ADClient;
  adSlot: string;
  className?: string;
};

const { adClient, adSlot, className } = Astro.props;
---

<div class={clsx(className, "sm:max-h-[20vh]")}>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client={adClient}
    data-ad-slot={adSlot}
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
