---
import Link from "./Link.astro";
import { siteMeta } from "@constants";
---

<header>
  <nav
    class="mx-auto flex max-w-2xl items-center justify-between px-4 py-10 2xl:max-w-4xl"
  >
    <div>
      <Link
        href="/"
        className="h-6 text-2xl font-semibold leading-6 text-inherit hover:text-inherit hover:no-underline dark:text-inherit dark:hover:text-inherit"
      >
        {siteMeta.title}
      </Link>
    </div>
  </nav>
</header>
