---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SEO from "@components/SEO.astro";
import { siteMeta } from "@constants";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title = siteMeta.title, description = siteMeta.description } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <SEO title={title} description={description} />
  </head>
  <body
    class="antialised bg-gray-100 text-black dark:bg-gray-800 dark:text-gray-200 lg:text-lg xl:text-xl 2xl:text-2xl"
  >
    <div>
      <Header />
      <main>
        <div class="mx-auto max-w-2xl px-4 pb-12 2xl:max-w-4xl">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
