name: "build"

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Initialize node & npm
        uses: ./.github/actions/npm

      - name: Execute prettier
        run: npm run prettier

      - name: Execute eslint
        run: npm run eslint

      - name: Install playwright
        run: npx playwright install

      - name: Build
        run: npm run build
